main > .container, main > .container-flow, main > .container-xl,  main > .container-xxl {
    padding: 70px 15px 20px;
}

main.body-content h1{font-size:2rem;border-bottom:1px solid lightgrey;padding-bottom:10px;margin-bottom:20px}